@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Viga&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #000000;
  color: white;
}

@keyframes gradientAnimation1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animation-1 {
  background: linear-gradient(90deg, #ffbf0f, #5df71b);
  background-size: 200% 200%;
  animation: gradientAnimation1 3s ease infinite;
}

@keyframes gradientAnimation2 {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-animation-2 {
  background: linear-gradient(90deg, #0f3fd0, #30f2f2);
  background-size: 200% 200%;
  animation: gradientAnimation2 3s ease infinite;
}
@keyframes gradientAnimation3 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animation-3 {
  background: linear-gradient(90deg, #873234, #ec30f2);
  background-size: 200% 200%;
  animation: gradientAnimation3 4s ease infinite;
}



/* Glow Animation */
:root {
  --border-radius: 12px;
  --glow-size: 15px; /* Size of the outer glow */
  --glow-blur: 30px; /* Blur radius of the outer glow */
}

.glow-effect {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.glow-effect::before {
  content: '';
  position: absolute;
  top: -var(--glow-size);
  left: -var(--glow-size);
  right: -var(--glow-size);
  bottom: -var(--glow-size);
  border-radius: var(--border-radius);
  z-index: -1; /* Ensures the glow is behind the content */
  filter: blur(var(--glow-blur));
  animation: outerGlowAnimation 5s linear infinite;
  box-shadow: 0 0 15px rgba(255, 193, 216, 0.5); /* Initial state for the glow */
}

@keyframes outerGlowAnimation {
  0% {
    box-shadow: 0 0 15px rgba(255, 193, 216, 0.5);
  }
  25% {
    box-shadow: 0 0 30px rgba(93, 247, 27, 0.5);
  }
  50% {
    box-shadow: 0 0 45px rgba(15, 63, 208, 0.5);
  }
  75% {
    box-shadow: 0 0 30px rgba(236, 48, 242, 0.5);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 193, 216, 0.5);
  }
}
























#dashed-line-animation {
  display: block;
  margin: 0 auto;
  stroke-dasharray: 12 12;
  stroke-dashoffset: 0;
  animation: dash-animation 2s linear infinite;
}

@keyframes dash-animation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -24; /* This value should be the negative length of the dash pattern (12 + 12) */
  }
}


@keyframes colorShift {
  0%, 100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
}

@keyframes textGrow {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}



.word {
  position: relative;
  overflow: hidden;
}

.word span {
  display: block;
  position: absolute;
  width: 100%;
  transform-origin: left;
  transition: color 1s ease-in-out;
}

.word:nth-child(1) span:first-child {
  animation: colorShift 6s ease-in-out infinite;
  animation-delay: 0s;
}

.word:nth-child(2) span:first-child {
  animation: colorShift 6s ease-in-out infinite;
  animation-delay: 1.5s;
}

.word:nth-child(3) span:first-child {
  animation: colorShift 6s ease-in-out infinite;
  animation-delay: 3s;
}

.word span:nth-child(2) {
  animation: textGrow 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
}









.rotate-animation {
  animation: rotate360 18s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .rotate-animation {
    animation-duration: 15s; /* Adjust for mobile if needed */
  }
}










/* Rainbox glowing border */
.rainbow-border {
  position: relative;
}

.rainbow-border::before,
.rainbow-border::after {
  content: '';
  display: block;
  position: absolute;
  inset: -.1rem;
  border-radius: 1.1rem;

  --a: 0deg;

  background-image: 
    conic-gradient(
      from var(--a) at 50% 50% in oklch longer hue, 
      oklch(70% .3 0) 0%, oklch(70% 0.30 0) 100%
    );

  animation: animatedBgAngle 5s linear infinite;
}

.rainbow-border::before {
  z-index: -1;
}

.rainbow-border::after {
  z-index: -2;
  filter: blur(25px);
  opacity: .35;
}

@supports not (background-image: conic-gradient(from 0deg at 50% 50% in oklch longer hue, oklch(70% .3 0) 0%, oklch(70% 0.30 0) 100%)) {
  .rainbow-border::before,
  .rainbow-border::after {
    background-image: linear-gradient(
      var(--a),
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );

    background-image: conic-gradient(
      from var(--a) at 50% 50%,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  }
}

@keyframes animatedBgAngle {
  from {
    --a: 0deg;
  }
  to {
    --a: 360deg;
  }
}